.paymentCard{
  width: 450px;
  height: 80vh;
  padding: 30px;
  background: #565ABB;
  border-radius: 27px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}
h2{
  font-size: 18px;
  font-weight: 400;
}
.cardTypes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    border-radius: 10px;
    overflow: hidden;
    background: rgb(255 255 255 / 15%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
  }
  img{
    width: 70px;
  }
}
.cardInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1{
    font-size: 30px;
  }
  img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }
}

.form{
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  label{

  }
  input{
    height: 40px;
    border-radius: 5px;
    border: none;
    background: rgb(255 255 255 /15%);
    color: white;
    padding: 0 10px;
    margin-bottom: 20px;
    &:focus{
      outline: none;
    }
  }
}
.cardDetails{
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  margin-bottom: 30px;
  div{
    display: flex;
    flex-direction: column;

    input{
      width: 190px;
    }
  }
}
.button{
  height: 50px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background: #00E0C6;
}
.price{
  font-size: 26px;
  margin-bottom: 20px;
}